.footer-section {
  background-color: var(--clr-primary-1);
  padding: 5px 20px;
}
.footer-section {
  /* position: fixed; */
  width: 100%;
  height: 75px;
  /* background-color: red; */
  /* bottom: 0; */
}

footer p {
  /* padding: 0; */
  margin: 0;
  font-size: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-address-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-address-container div {
  padding: 10px;
}

.footer-address-container a {
  color: #fff;
}

.footer-address-container a:hover {
  color: var(--clr-primary-5);
}

.footer-links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.footer-links .footer-link {
  color: #fff;
}

.footer-links .footer-link:hover {
  color: var(--clr-primary-5);
}

@media (max-width: 700px) {

  .footer-section {
    height: auto;
  }


  .footer-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-links,
  .footer-address-container {
    padding: 5px;
  }
}

@media (max-width: 415px) {
  .footer-address-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-address-container div {
    padding: 2px;
  }
}
