.hero {
  margin-bottom: 20px;
}

.info {
  color: #00418c;
  width: 90vw;
  margin: 0 auto;
  font-weight: 900;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h2 {
  margin-top: -1.5rem;
  font-weight: bold;
}

.info button {
  margin-bottom: 10px;
}

.bio p {
  color: var(--clr-primary-1);
  max-width: 800px;
  line-height: 1.6;
}

.partners {
  padding: 30px;
  text-align: center;
  color: var(--clr-primary-1);
  background-color: #fff;
}

.partners h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.logo-partners-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.logo-partners-container div {
  height: 60px;
  margin: 1.5rem auto;
}

.logo-partners-container div img {
  height: 100%;
  object-fit: cover;
}

.certificate1 img {
  transform: scale(1.8);
  margin-top: 15px;
}

@media (min-width: 760px) {
  .hero {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    max-width: var(--max-width);
    height: fit-content;
    height: 70vh;
    min-height: 650px;
    width: 95vw;
  }

  .hero > * {
    flex: 1 1;
  }

  .info {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary-1);
    background-color: transparent;
    padding: 40px;
    text-align: left;
  }

  .info h2 {
    margin-top: 0;
  }

  .bio {
    position: relative;
    padding-left: 10px;
  }

  .bio::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -2%;
    border-left: 4px solid var(--clr-accent-yellow);
    height: 75%;
  }

  .bio p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1rem;
  }

  .image-container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
  }

  .hero-gallery img {
    border-radius: 10px;
  }

  .partners {
    max-width: 1000px;
    width: 90vw;
    margin: 0 auto;
    border-radius: 20px;
  }

  .partners h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .logo-partners-container {
    margin: 0 auto;
    flex-direction: row;
    max-width: var(--max-width);
  }

  .certificate1 img {
    margin-top: 0;
  }
}

@media (min-width: 785px) {
  .hero {
    min-height: 750px;
  }
}

@media (min-width: 884px) {
  .hero {
    height: 20vh;
    min-height: 500px;
  }
}
