@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(212, 100%, 29%);
  --clr-primary-2: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(220, 4%, 86%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --border-radius: 10px;
  --box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

/* CSS */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
  background: #e9e9e9;
  /* background: linear-gradient(
    180deg,
    rgba(0, 68, 147, 1) 0%,
    rgba(255, 255, 255, 1) 98%
  ); */
  /* background: linear-gradient(
    0deg,
    rgba(0, 68, 141, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  /* background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    #e1eaee 90%
  ); */
  /* background-color: var(--clr-primary-1); */

  /* background-repeat: no-repeat; */
  line-height: 1.5;
  font-size: 0.875rem;
  /* color: white; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: white;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.button {
  background-color: var(--clr-primary-1);
  border: 1px solid transparent;
  border-radius: 0.75rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button:hover {
  background-color: var(--clr-primary-2);
}

.button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.page {
  width: 100%;
}

@media (min-width: 800px) {
  .button {
    padding: 0.5rem 1.5rem;
  }

  .page {
    width: 70%;
    max-width: 1000px;
    /* height: calc(100vh - 175px); */
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .page h2 {
    color: var(--clr-primary-1);
    padding: 20px 0;
  }

  .page-container {
    max-width: var(--max-width);
    margin: 0 auto;
  }
}

.active {
  background: var(--clr-primary-1);
  padding: 0.5rem 1rem;
}

.active li {
  color: #fff;
}

.components-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
