:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(212, 100%, 29%);
  --clr-primary-2: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
